<% content_for :title, "All collections" %>

<%= render 'shared/admin_nav' %>

<h1>All collections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th width="25%">Actions</th>
    </tr>
  </thead>
  <tbody>

    <% @collections.select {|collection| collection.dig_code.blank? }.each do |collection| %>
      <%= render 'collection_row', collection: collection %>
    <% end %>

    <tr>
      <th colspan="2"><h4>DIG-code collections</h4></th>
    </tr>
    <% @collections.select {|collection| !collection.dig_code.blank? }.each do |collection| %>
      <%= render 'collection_row', collection: collection %>
    <% end %>

  </tbody>
</table>