<% content_for :title, "Edit collection" %>

<%= form_for @collection do |form| %>

  <%= render 'basic_fields', form: form %>

  <%= render 'record_numbers', form: form, existing_record_identifiers: @record_identifiers %>

  	<button type="submit">SAVE</button>&nbsp;&nbsp;&nbsp;<a href="#" style="color:red" onclick="window.history.back(); return false;">Cancel</a>
<% end %>


  <p>Or, do you want to <a href="#hide" style="color:red">hide this collection</a>?</p>
<% end %>