<h1>Add collection</h1>

<%= form_for @collection do |form| %>

  <%= render 'basic_fields', form: form %>
  <%= render 'record_numbers', form: form, existing_record_identifiers: [] %>

  <button type="submit">Create</button>

<% end %>