<h1>James Gillray</h1>

<div class="row">
	<div class="eight columns">
		<p class="lead">
			James Gillray (13 August 1756 or 1757 – 1 June 1815) was an English caricaturist and printmaker famous for his etched political and social satires, mainly published between 1792 and 1810.
			<small><a href="https://en.wikipedia.org/wiki/James_Gillray">Wikipedia</a></small>
		</p>
    <p>Many of Gillray’s prints depicted various forms of medical conditions and interventions, often lampooning quack doctors and painful ‘cures’. That's largely why there are lots of his works at Wellcome.</p>

	</div>
	<div class="four columns">
		<a href="/images/James-Gillray-portrait.jpg"><img src="http://context.whatsinthelibrary.com/images/James-Gillray-portrait.jpg" alt="portrait of James Gillroy" width="100%"></a>
	</div>
</div>

<h2>A Selection of Gillray's Works</h2>
<p>Henry Wellcome actively collected satires as rich iconographic sources of social comment on hot topics of their time - the medical profession, for example. There is scarce provenance information on many of them but it is likely that he acquired in groups at auction not individually as they might have been sold originally.</p>

<h3>The Patient Experience</h3>

<p>Imagine being ill in the late 1700s, when every man and his dog was pretending to be a doctor...</p>

<div class="row">
	<div class="eight columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11584956"><img src="http://context.whatsinthelibrary.com/images/b11584956.jpg" width="100%" alt="A swollen and inflamed foot: gout is represented by an attacking demon. Coloured soft-ground etching by J. Gillray, 1799." /></a>
		<p>
			A swollen and inflamed foot: gout is represented by an attacking demon. Coloured soft-ground etching by J. Gillray, 1799.<br />
			<a href="http://wellcomelibrary.org/player/b11584956">Wellcome Library</a> |
			<a href="http://wellcomeimages.org/indexplus/image/v0010851.html">Wellcome Images</a> |
		<a href="http://thing.whatsinthelibrary.com/records/b11584956">Week 2 View</a>
		</p>
	</div>
	<div class="four columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11602089"><img src="http://context.whatsinthelibrary.com/images/b11602089.jpg" width="100%" alt="A convalescing man happily eating a meal, assisted by his grinning servant. Coloured etching by J. Gillray, 1804, after J. Sneyd" /></a>
		<p>
			A convalescing man happily eating a meal, assisted by his grinning servant. Coloured etching by J. Gillray, 1804, after J. Sneyd<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011198.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11602089">Week 2 View</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="six columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b1160203x"><img src="http://context.whatsinthelibrary.com/images/b1160203x.jpg" width="100%" alt="An ill man being bled by a surgeon. Coloured etching by J. Gillray, 1804, after J. Sneyd" /></a>
		<p>
			An ill man being bled by a surgeon. Coloured etching by J. Gillray, 1804, after J. Sneyd<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011195.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b1160203x">Week 2 View</a>
		</p>
	</div>
	<div class="six columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11601929"><img src="http://context.whatsinthelibrary.com/images/b11601929.jpg" width="100%" alt="A grimacing invalid seated before a bowl having received an emetic, another man clasps his head compassionately. Coloured etching by J. Gillray, 1804, after J. Sneyd" /></a>
		<p>
			A grimacing invalid seated before a bowl having received an emetic, another man clasps his head compassionately. Coloured etching by J. Gillray, 1804, after J. Sneyd<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011187.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11601929">Week 2 View</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="four columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11599996"><img src="http://context.whatsinthelibrary.com/images/b11599996.jpg" width="100%" alt="A man standing by a fire place, pulling a peculiar face after taking some medicine. Coloured etching by J. Gillray, 1800" /></a>
		<p>
			A man standing by a fire place, pulling a peculiar face after taking some medicine. Coloured etching by J. Gillray, 1800<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011136.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11599996">Week 2 View</a>
		</p>
	</div>
	<div class="four columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11744893"><img src="http://context.whatsinthelibrary.com/images/b11744893.jpg" width="100%" alt="A tooth-drawer extracting a tooth from a patient who is seated on a stool. Coloured stipple engraving by J. Gillray, 1796" /></a>
		<p>
			A tooth-drawer extracting a tooth from a patient who is seated on a stool. Coloured stipple engraving by J. Gillray, 1796<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0012059.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11744893">Week 2 View</a>
		</p>
	</div>
	<div class="four columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11602004"><img src="http://context.whatsinthelibrary.com/images/b11602004.jpg" width="100%" alt="A sick man stranded on the toilet after taking a laxative. Coloured etching by J. Gillray, 1804, after J. Sneyd" /></a>
		<p>
			A sick man stranded on the toilet after taking a laxative. Coloured etching by J. Gillray, 1804, after J. Sneyd<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011192.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11602004">Week 2 View</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="six columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11600366"><img src="http://context.whatsinthelibrary.com/images/b11600366.jpg" width="100%" alt="A woman taking a large knife and scissors to the corns on her feet. Coloured lithograph after J. Gillray" /></a>
		<p>
			A woman taking a large knife and scissors to the corns on her feet. Coloured lithograph after J. Gillray<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011170.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11600366">Week 2 View</a>
		</p>
	</div>
	<div class="six columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11600342"><img src="http://context.whatsinthelibrary.com/images/b11600342.jpg" width="100%" alt="A haggard old woman taking a large file to the corns on her feet. Coloured etching by J. Gillray, 1800, after himself" /></a>
		<p>
			A haggard old woman taking a large file to the corns on her feet. Coloured etching by J. Gillray, 1800, after himself<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011168.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11600342">Week 2 View</a>
		</p>
	</div>
</div>

<p class="context"><b>CORNS?</b> Gross. Corns are "localized hyperplasia of the horny layer of the epidermis due to pressure or friction" also known as <a href="http://wellcome-mesh-browser.herokuapp.com/D002145">callosities</a>. Cutting them off with a massive knife probably isn't recommended, even though it might have been popular around 1800.</p>

<div class="print">
		<a href="http://thing.whatsinthelibrary.com/records/b11586436"><img src="http://context.whatsinthelibrary.com/images/b11586436.jpg" width="100%" alt="Three people drinking punch as a cure for (right to left) gout, colic, and phthisic. Coloured etching by J. Gillray, 1799 " /></a>
		<p>
			Three people drinking punch as a cure for (right to left) gout, colic, and phthisic. Coloured etching by J. Gillray, 1799<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0010858.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11586436">Week 2 View</a>
		</p>
</div>

<h3>Medical Men and Quacks</h3>

<div class="row">
	<div class="eight columns">
		<p>The medical industry was, shall we say, an emerging industry. Various so-called physicians, apothecaries, and surgeons were licensed in all kinds of colourful ways, and unrepentently practiced on any citizens who could afford them. </p>
		<p>It was a seller's market, with the catchiest advertisements snaring the sick and the desperate, only to subject them to unbelievable "treatments".</p>		
	</div>
	<div class="four columns print center">
		<a href="/images/viperdrops.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/viperdrops.jpg" width="65%" alt="an ad for Viper Drops" /></a>
		<p>An ad for Viper Drops</p>
	</div>
<div>

<div class="row">
	<div class="three columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11744856"><img src="http://context.whatsinthelibrary.com/images/b11744856.jpg" width="100%" alt="A wealthy patient falling over because of having a tooth extracted with such vigour by a fashionable dentist. " /></a>
		<p>
			A wealthy patient falling over because of having a tooth extracted with such vigour by a fashionable dentist.<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0012058.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11744856">Week 2 View</a>
		</p>
	</div>
	<div class="three columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11589656"><img src="http://context.whatsinthelibrary.com/images/b11589656.jpg" width="100%" alt="Dr. John Burges, on tiptoe outside a building in Warwick Lane" /></a>
		<p>
			Dr. John Burges, on tiptoe outside a building in Warwick Lane<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0010922.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11589656">Week 2 View</a>
		</p>
	</div>
	<div class="three columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11590130"><img src="http://context.whatsinthelibrary.com/images/b11590130.jpg" width="100%" alt="A butcher threatening a doctor with revenge for poisoning his wife. Etching by J. Kent, 1782, after P.V and attrib. to Gillray" /></a>
		<p>
			A butcher threatening a doctor with revenge for poisoning his wife. Etching by J. Kent, 1782, after P.V and attrib. to Gillray<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0010959.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11590130">Week 2 View</a>
		</p>
	</div>
	<div class="three columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b17236642"><img src="http://context.whatsinthelibrary.com/images/b17236642.jpg" width="100%" alt="Man-midwives attempting to deliver a monstrous woman representing the Dutch National Convention" /></a>
		<p>
			Man-midwives attempting to deliver a monstrous woman representing the Dutch National Convention. Etching attributed to James Gillray, 1796, after David Hess.<br />
			<a href="http://wellcomeimages.org/indexplus/image/L0064371.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b17236642">Week 2 View</a>
		</p>
	</div>	
</div>

<div class="print">
	<a href="http://thing.whatsinthelibrary.com/records/b11599509"><img src="http://context.whatsinthelibrary.com/images/b11599509.jpg" width="100%" alt="An operator treating the carbuncled nose of an obese patient with 'Perkins's tractors'. Coloured aquatint after J. Gillray, 1801" /></a>
	<p>
		An operator treating the carbuncled nose of an obese patient with "Perkins's tractors". Coloured aquatint after J. Gillray, 1801<br />
		<a href="http://wellcomelibrary.org/player/b11599509">Wellcome Library</a> |
		<a href="http://wellcomeimages.org/indexplus/image/V0010851.html">Wellcome Images</a> |
		<a href="http://thing.whatsinthelibrary.com/records/b11599509">Week 2 View</a>
	</p>
</div>

<p class="context">"Metallic Tractors" were a type of <a href="http://wellcome-mesh-browser.herokuapp.com/D011781">quack</a> treatment invented (and patented) by <a href="https://en.wikipedia.org/wiki/Elisha_Perkins">Elisha Perkins</a>. They used the body's own electricity to expel disease with a metal rod. Tractors cured many inflammatory diseases, including gout, or so its inventor Elisha Perkins have you believe...</p>

<h3>Vaccination</h3>

<p>Around 1798, Edward Jenner made the discovery that taking the pus from a cow with cow pox (yes, a cow), and injecting that pus into a human, actually vaccinated the human against smallpox. Well, no wonder everyone thought he was a immoral lunatic.</p>

<p>Look, you can see Jenner in the print below, injecting pus into a skeptical woman surround by cow-humans.</p>

<div class="print">
	<a href="http://thing.whatsinthelibrary.com/records/b11598761"><img src="http://context.whatsinthelibrary.com/images/b11598761.jpg" width="100%" alt="Edward Jenner vaccinating patients in the Smallpox and Inoculation Hospital at St. Pancras: the patients develop features of cows. Coloured etching by J. Gillray, 1802." /></a>
	<p>
		Edward Jenner vaccinating patients in the Smallpox and Inoculation Hospital at St. Pancras: the patients develop features of cows. Coloured etching by J. Gillray, 1802.<br />
		<a href="http://wellcomelibrary.org/player/b11598761">Wellcome Library</a> |
		<a href="http://wellcomeimages.org/indexplus/image/V0011069.html">Wellcome Images</a> |
		<a href="http://thing.whatsinthelibrary.com/records/b11598761">Week 2 View</a>
	</p>
</div>

<h4>Vaccination in context</h4>
<p>You can see by this graph of word mentions in books from 1750 to 1900 that vaccination came into the world around 1800.  The Wellcome Library contains some of the first books ever written about it.</p>

<a href="https://books.google.com/ngrams/graph?content=smallpox%2Cvaccination&year_start=1750&year_end=1900&corpus=15&smoothing=3&share=&direct_url=t1%3B%2Csmallpox%3B%2Cc0%3B.t1%3B%2Cvaccination%3B%2Cc0"><img width="100%" src="http://context.whatsinthelibrary.com/images/vacc-smallpox-ngram.png" alt="Google n-Gram Viewer Graph for the trend of smallpox and vaccination" /></a><br />
<br />&nbsp;
<br />&nbsp;

<p>
	Vaccinators and anti-vaccinators traded insults from the outset. In one particularly angry exchange, Dr Robert John Thornton is described as a "<b><em>cow-poison champion</em></b>" by Dr Ferdinand Smith Stuart who also accuses him of quackery.
</p>
<div class="print">
	<a title="link through to the page in the book to read more"  href="http://wellcomelibrary.org/player/b21354583#?asi=0&ai=15&z=-0.4656%2C0.0654%2C2.1741%2C1.6221"><img src="http://context.whatsinthelibrary.com/images/vaccination.jpg" width="100%" alt="blows being traded, in £30,000 for the cow-pox!!!" /></a>
</div>
<br />&nbsp;
<div class="row">
	<div class="three columns">
		<a href="http://thing.whatsinthelibrary.com/records/b24759247"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b24759247.jpg" width="90%" /></a>
		<p>
			<a href="http://thing.whatsinthelibrary.com/records/b24759247">An inquiry into the causes and effects of the variolæ vaccinæ...</a><br />
			by Edward Jenner
		</p>
	</div>
	<div class="three columns">
		<a href="http://wellcomelibrary.org/player/b2135456x"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b2135456x.jpg" width="90%" /></p>
		<p>
			<a href="http://wellcomelibrary.org/player/b2135456x">Vaccinæ vindicia; or, defence of vaccination</a><br />
			by Robert John Thornton
		</p>
	</div>
	<div class="three columns">
		<a href="http://wellcomelibrary.org/player/b21354583"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b21354583.jpg" width="90%" /></a>
		<p>
			<a href="http://wellcomelibrary.org/player/b21354583">£30,000 for the cow-pox!!! An address (to Ld. H.P., and) to the British Parliament, on vaccination</a><br />
			by Ferdinand Smyth Stuart
		</p>
	</div>
	<div class="three columns">
		<a href="http://wellcomelibrary.org/player/b11598803"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11598803.jpg" width="90%" /></a>
		<p>
			<a href="http://wellcomelibrary.org/player/b11598803">A monster being fed baskets of infants and excreting them with horns; symbolising vaccination and its effects. Etching by C. Williams, 1802(?).</a>
		</p>
	</div>	
</div>

<h3>Medicine and Satire</h3>

<p>An explosion in cheap printing techniques and enviable of freedom of expression gave caricaturists such as Gillray, Rowlandson and Williams a ready market for the work. Gillray was perhaps the most viscious of the satirists, unafraid to show even the King on his special, private "throne".</p>

<div class="print">
	<a href="http://thing.whatsinthelibrary.com/records/b11603720"><img src="http://context.whatsinthelibrary.com/images/b11603720.jpg" width="100%" alt="Charles James Fox, dangerously ill, visited by an entourage of interested factions:representing the social and ministerial conflict surrounding him" /></a>
	<p>
		Charles James Fox, dangerously ill, visited by an entourage of interested factions:representing the social and ministerial conflict surrounding him<br />
  </p>


  <p><b>Features (left-to-right):</b><br>
    <a href="https://en.wikipedia.org/wiki/Elizabeth_Armistead">Elizabeth Bridget Fox</a>,
    <a href="https://en.wikipedia.org/wiki/Edward_Stanley,_15th_Earl_of_Derby">Edward Henry Stanley, 15th Earl of Derby</a>,
    <a href="https://en.wikipedia.org/wiki/Richard_Temple-Nugent-Brydges-Chandos-Grenville,_3rd_Duke_of_Buckingham_and_Chandos">Richard Plantagenet Campbell Temple-Nugent-Brydges-Chandos-Grenville, 3rd Duke of Buckingham and Chandos</a>,
    <a href="https://en.wikipedia.org/wiki/George_Nugent-Temple-Grenville,_1st_Marquess_of_Buckingham">George Nugent-Temple-Grenville, 1st Marquess of Buckingham</a>,
    <a href="https://en.wikipedia.org/wiki/William_Grenville,_1st_Baron_Grenville">William Wyndham Grenville, 1st Baron Grenville</a>,
    <a href="https://en.wikipedia.org/wiki/Henry_Petty-Fitzmaurice,_3rd_Marquess_of_Lansdowne">Henry Petty-Fitzmaurice, 3rd Marquess of Lansdowne</a>,
    <a href="https://en.wikipedia.org/wiki/William_Windham">William Windham</a>,
    <a href="https://en.wikipedia.org/wiki/Francis_Rawdon-Hastings,_1st_Marquess_of_Hastings">Francis Edward Rawdon-Hastings, 1st Marquess of Hastings </a>,
    <a href="https://en.wikipedia.org/wiki/William_IV_of_the_United_Kingdom">King William IV</a>,
    <a href="https://en.wikipedia.org/wiki/Maria_Fitzherbert">Maria Anne Fitzherbert</a>,
    <a href="https://en.wikipedia.org/wiki/Charles_James_Fox">Charles James Fox</a>,
    <a href="https://en.wikipedia.org/wiki/Thomas_O%27Beirne">The Right Reverend Thomas Lewis O'Beirne</a>,
    <a href="https://en.wikipedia.org/wiki/Richard_Brinsley_Sheridan">Richard Brinsley Sheridan</a>,
    <a href="https://en.wikipedia.org/wiki/Charles_Grey,_2nd_Earl_Grey">Charles Grey, 2nd Earl Grey</a>,
    <a href="https://en.wikipedia.org/wiki/Henry_Addington,_1st_Viscount_Sidmouth">Henry Addington, 1st Viscount Sidmouth</a>
    </p>

    <p>
		<a href="http://wellcomeimages.org/indexplus/image/V0011317.html">Wellcome Images</a> |
		<a href="http://thing.whatsinthelibrary.com/records/b11603720">Week 2 View</a>
	</p>
</div>
<div class="row">
	<div class="six columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11603434"><img src="http://context.whatsinthelibrary.com/images/b11603434.jpg" width="100%" alt="Lord North and Fox excreting into a pan bearing the Royal Arms, a little devil is mixing the stench between them; implying the appalling effects of the coalition government" /></a>
		<p>
			Lord North and Fox excreting into a pan bearing the Royal Arms, a little devil is mixing the stench between them; implying the appalling effects of the coalition government<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011289.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11603434">Week 2 View</a>
		</p>
	</div>
	<div class="six columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b15323584"><img src="http://context.whatsinthelibrary.com/images/b15323584.jpg" width="100%" alt="The countries of Europe representing physicians and surgeons trying to regenerate a woman personifying the Dutch republic" /></a>
		<p>
			The countries of Europe representing physicians and surgeons trying to regenerate a woman personifying the Dutch republic<br />
			<a href="http://wellcomeimages.org/indexplus/image/L0031334.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b15323584">Week 2 View</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="six columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11603665"><img src="http://context.whatsinthelibrary.com/images/b11603665.jpg" width="100%" alt="Henry Addington as a medical practitioner bleeding the exhausted John Bull, assisted by other politicians; representing Britain's strength being sapped by nepotism in politics and by war with Napoleon" /></a>
		<p>
			Henry Addington as a medical practitioner bleeding the exhausted John Bull, assisted by other politicians; representing Britain's strength being sapped by nepotism in politics and by war with Napoleon<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011311.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11603665">Week 2 View</a>
		</p>
	</div>
	<div class="six columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11603677"><img src="http://context.whatsinthelibrary.com/images/b11603677.jpg" width="100%" alt="A doctor kicking his rival out of a female patient's sickroom, while trampling another underfoot: representing the change of government and the exclusion of Fox from Pitt's ministry" /></a>
		<p>
			A doctor kicking his rival out of a female patient's sickroom, while trampling another underfoot: representing the change of government and the exclusion of Fox from Pitt's ministry<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011312.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11603677">Week 2 View</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="six columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b1160346x"><img src="http://context.whatsinthelibrary.com/images/b1160346x.jpg" width="100%" alt="Fox running out of the House of Commons in the middle of a debate with Pitt about the Regency crisis: he is excreting as he runs, which refers to a bout of dysentery he caught on route from Bologna" /></a>
		<p>
			Fox running out of the House of Commons in the middle of a debate with Pitt about the Regency crisis: he is excreting as he runs, which refers to a bout of dysentery he caught on route from Bologna<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011292.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b1160346x">Week 2 View</a>
		</p>
	</div>
	<div class="six columns print">
		<a href="http://thing.whatsinthelibrary.com/records/b11603525"><img src="http://context.whatsinthelibrary.com/images/b11603525.jpg" width="100%" alt="The grossly agitated King and Queen seated in a latrine to receive a message from the emaciated Pitt; representing the Royal reaction to news of the King of Sweden's assassination" /></a>
		<p>
			The grossly agitated King and Queen seated in a latrine to receive a message from the emaciated Pitt; representing the Royal reaction to news of the King of Sweden's assassination<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011298.html">Wellcome Images</a> |
			<a href="http://thing.whatsinthelibrary.com/records/b11603525">Week 2 View</a>
		</p>
	</div>
</div>

<h2>Printmaking and Copies</h2>

<p>Wellcome Library has lots of prints and versions of many of the Gillray sketches. They’re grouped together physically in the stores, but are catalogued separately, with no connection made between them.</p>

<p>Here we’ve arranged them together again so you can compare them to each other. Note that some versions are mirrored, or hand-coloured differently.</p>

<h3>Taking PHYSICK</h3>

<div class="row">
  <div class="two columns print">
    <a href="/images/b1160217x.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b1160217x.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b1160220x.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b1160220x.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11599996.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11599996.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602144.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602144.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602223.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602223.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602211.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602211.jpg" width="100%" alt="" /></a>
  </div>
</div>

<div class="row">
  <div class="two columns print">
    <a href="/images/b11602193.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602193.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602168.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602168.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602156.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602156.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602235.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602235.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602247.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602247.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602259.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602259.jpg" width="100%" alt="" /></a>
  </div>
</div>

<p class="context">This selection depicts a patient taking Physick, an old term for a <a href="http://wellcome-mesh-browser.herokuapp.com/D054368">laxative</a> (hence the presence of the toilet in the background in some versions). The last one probably isn't even by Gillray, but is a copy/re-interpretation done by another artist.</p>


<h3>The Gout</h3>

<div class="row">
  <div class="three columns print">
    <a href="/images/b11584968.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11584968.jpg" width="100%" alt="" /></a>
  </div>
  <div class="three columns print">
    <a href="/images/b11584956.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11584956.jpg" width="100%" alt="" /></a>
  </div>
  <div class="three columns print">
    <a href="/images/b1158497x.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b1158497x.jpg" width="100%" alt="" /></a>
  </div>
</div>

<p class="context">This one depicts a metaphorical monster sinking his teeth into a swollen foot, representing the extreme pain of the illness <a href="http://wellcome-mesh-browser.herokuapp.com/D006073">gout</a>.</p>

<h3>Gentle Emetic</h3>

<div class="row">
  <div class="two columns print">
    <a href="/images/b1160198x.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b1160198x.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11601929.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11601929.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11601930.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11601930.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11601942.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11601942.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11601954.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11601954.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11601978.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11601978.jpg" width="100%" alt="" /></a>
  </div>
</div>

<div class="row">
  <div class="two columns print">
    <a href="/images/b11601991.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11601991.jpg" width="100%" alt="" /></a>
  </div>
</div>

<p class="context">Emetic means <a href="http://wellcome-mesh-browser.herokuapp.com/D014839">vomiting</a>, so given the pained expression of this patient’s expression, and the large bowl in front of him, <em>gentle</em> here might be somewhat satirical.</p>

<h3>Breathing a vein</h3>

<div class="row">
  <div class="two columns print">
    <a href="/images/b1160203x.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b1160203x.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602041.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602041.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602053.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602053.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602065.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602065.jpg" width="100%" alt="" /></a>
  </div>
</div>

<p class="context">This gruesome procedure, known as <a href="http://wellcome-mesh-browser.herokuapp.com/D001815">bloodletting</a>, was quite common – and likely had no health benefits whatsover.</p>

<h3>Easing the Toothach [sic]</h2>

<div class="row">
  <div class="two columns print">
    <a href="/images/b11744893.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11744893.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11744911.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11744911.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11744972.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11744972.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b1174490x.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b1174490x.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b14553302.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b14553302.jpg" width="100%" alt="" /></a>
  </div>
</div>

<p class="context"><a href="http://wellcome-mesh-browser.herokuapp.com/D014098">Toothache</a> is clearly not a modern phenomenon. It’s not quite clear what the dentists are actually doing here, but looks like it hurts.
<br /><br />
Some of these prints also seem to have non-Gillray names on them, so it's not clear if they're copies or if other artists might have contributed as engravers. The last version seems to have been used in an actual advert for an dentist! Who's laughing now?</p>

<h2>Digitised Books <em>about</em> Gillray</h2>

<div class="row">
	<div class="six columns center">
		<a href="https://archive.org/stream/worksofjamesgill00wrig#page/n0/mode/1up" title="Read on the Internet Archive"><img src="http://context.whatsinthelibrary.com/images/book2.png" width="90%" alt="screengrab of the open digitised book" /></a> <br />
		<a href="https://archive.org/stream/worksofjamesgill00wrig#page/n0/mode/1up">The works of James Gillray, the caricaturist : with the history of his life and times</a><br />
		edited by Thomas Wright
	</div>
	<div class="six columns center">
		<a href="http://wellcomelibrary.org/player/b21778024#?asi=0&ai=0" title="read in the Wellcome Library player"><img src="http://context.whatsinthelibrary.com/images/book1.png" width="80%" alt="screengrab of the open digitised book" /></a> <br />
		<a href="http://wellcomelibrary.org/player/b21778024#?asi=0&ai=0" title="read in the Wellcome Library player">Historical & descriptive account of the caricatures of James Gillray</a><br />
		by Thomas Wright and R. H. Evans
	</div>
</div>

<!-- cheat -->
<p>&nbsp;</p>

<h2>Gillray's Contemporaries and Subjects</h2>

<p>Gillray often satirised monarchs, world leaders and politicians, even personifying countries, like representing Britain as a character as "John Bull". He was also supported by a network of printers and publishers in London at the time.</p>

<div class="row">
	<div class="two columns portrait">&nbsp;</div>
	<div class="four columns bio">			
		<h5>Hannah Humphrey</h5>
		<p>
			<em>1745-1818</em><br />
			Hannah Humprey operated a print shop in London, exclusively publishing Gillray’s works from 1791 onward.</p>
	</div>
	<div class="two columns portrait"><img src="http://context.whatsinthelibrary.com/images/Thomas_Rowlandson_portrait.jpg" width="100%" alt="Thomas Rowlandson portrait" /></div>
	<div class="four columns bio">
		<h5>Thomas Rowlandson</h5>
		<p>
			<em>1756-1827</em><br />
			Thomas Rowlandson was Gillray’s contemporary and friend. His works depicted English social life more light-heartedly.
		</p>
	</div>
</div>
<div class="row">
	<div class="two columns portrait"><img src="http://context.whatsinthelibrary.com/images/georgeIII.jpg" width="100%" alt="George III, from Wikipedia" /></div>
	<div class="four columns bio">
		<h5>George III</h5>
		<p>
			<em>1738-1820</em><br />
			King. Went a bit mad. Possibly had porpyhria.
		</p>
	</div>
	<div class="two columns portrait"><img src="http://context.whatsinthelibrary.com/images/V0011317.jpg" width="100%" alt="Charles James Fox, dangerously ill, visited by an entourage of interested factions: satirizing the social and ministerial conflict surrounding him. Coloured etching by J. Gillray, 1806." />
	</div>
	<div class="four columns bio">
		<h5>Charles James Fox</h5>
		<p>
			<em>1749-1806</em><br />
			Statesman and a pro-revolutionary (both French and American), Fox was the subject of many of Gillray’s prints.
		</p></div>
</div>
<div class="row">
	<div class="two columns portrait"><img src="http://context.whatsinthelibrary.com/images/sidmouth.jpg" width="100%" alt="Sidmouth, from Wikipedia" /></div>
	<div class="four columns bio">
		<h5>Henry Addington, Viscount Sidmouth</h5>
		<p>
			<em>1757-1844</em><br />
			British Statesman. Prime Minister from 1801-1804.
		</p>
	</div>
	<div class="two columns portrait"><img src="http://context.whatsinthelibrary.com/images/napoleon.jpg" width="100%" alt="Bonaparte, by Ingres, from Wikipedia" /></div>
	<div class="four columns bio">
		<h5>Napoleon I</h5>
		<p>
			<em>1769-1821</em><br />
			He was quite small, apparently.
		</p>
	</div>
</div>
<div class="row">
	<div class="two columns portrait"><img src="http://context.whatsinthelibrary.com/images/pitt.jpg" width="100%" alt="William Pitt the Younger, from Wikipedia" /></div>
	<div class="four columns bio">
		<h5>William Pitt</h5>
		<p>
			<em>1759-1806</em><br />
			Politician. The Younger. Prime Minister at 24, during the reign of George III.
		</p>
	</div>
	<div class="two columns portrait"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11599509.jpg" width="100%" alt="This is Perkins tractoring a frightened patient" /></div>
	<div class="four columns bio">
		<h5>Elisha Perkins</h5>
		<p>
			<em>1741-1799</em><br />
			American doctor. Invented the metallic tractor and antiseptic medicine.
		</p>
	</div>
</div>
<div class="row">
	<div class="two columns portrait">&nbsp;</div>
	<div class="four columns bio">
		<h5>Charles Williams</h5>
		<p>
			<em>????-1830</em><br />
			British caricaturist, etcher and illustrator. Similar style to Gillray.
		</p>
	</div>
	<div class="two columns portrait">&nbsp;</div>
	<div class="four columns bio">
		<h5>Benjamin Douglas Perkins</h5>
		<p>
			<em>1774-1810</em><br />
			British bookseller and publisher. Brought his father's invention, the metallic tractor, to London.
		</p>
	</div>
</div>

<h2>Broader Contemporary Themes</h2>

<p>Gillray was operating at the inception of an important time in medical history, and used many broader themes in his work. If you'd like to explore the collection further, please do! </p>

<div class="row">
	<div class="six columns box">
		<a href="http://thing.whatsinthelibrary.com/records/b11602399"><img src="http://context.whatsinthelibrary.com/images/science.jpg" width="100%" alt="Monster Soup" /></a>
		<h4>History of Medicine</h4>
		<p>Much of contemporary medical practice involved trying to get things out of the body, making people <a href="http://search.wellcomelibrary.org/iii/encore/search?formids=target&lang=eng&suite=def&reservedids=lang%2Csuite&submitmode=&submitname=&target=vomit&submit=Search">vomit</a>, helping them pass various things out the other end, or <a href="http://search.wellcomelibrary.org/iii/encore/search/C__Sbloodletting__Orightresult__U?lang=eng&suite=cobalt">bloodletting</a>. All this purging was about balancing the humours - a medical theory going back to the <a href="http://thing.whatsinthelibrary.com/subjects?subject=Medicine%2C+Greek+and+Roman.">Ancient Greeks</a>.</p>
		<p>Gillray's lifetime was also the Age of Enlightenment, and natural philosophy (later called Science) was definitely influencing medicine. Natural philosophy was also a popular topic for Gillray, and he made four prints about it.</p>

		<a href="/images/frogs.png"><img src="http://context.whatsinthelibrary.com/images/frogs.png" width="100%" alt="Bits of frogs being electrocuted" /></a>	
		<h4>The Metallic Tractor</h4>
		<p>Like many quack cures the metallic tractor was based on a real scientific discovery. In the 1780s <a href="https://en.wikipedia.org/wiki/Luigi_Galvani">Luigi Galvani</a> made the legs of a dissected <a href="http://wellcome-mesh-browser.herokuapp.com/tree/B01/050/150/900/090/180">frog</a> twitch with an electrical current. He called this phenomenon animal <a href="http://thing.whatsinthelibrary.com/subjects?subject=Electricity">electricity</a> and sparked the imagination of a lot of quacks, but also <a href="https://en.wikipedia.org/wiki/Mary_Shelley">Mary Shelley</a>, the author of Frankenstein.</p>		
		
	</div>
	<div class="six columns box">
		<a href="http://thing.whatsinthelibrary.com/subjects?subject=Gout."><img src="http://context.whatsinthelibrary.com/images/gout-graph.png" width="100%" alt="Check out some digitised books about Gout" /></a>
		<h4>Gout</h4>
		<p><a href="http://thing.whatsinthelibrary.com/subjects?subject=Gout.">Gout</a> was a hot topic around 1771, as you can see from the publishing history graph. Symptoms include acute pain in swollen joints. Today, gout is known to be caused by excess of uric acid in the blood, but in its long history it was associated with living too well. It's called <i>podagora</i> when you get it in your <a href="https://wellcome-mesh-browser.herokuapp.com/tree/A01/378/610/250/300/792/380">big toe</a>. </p>
		<p>You might like to skim <i><a href="http://wellcomelibrary.org/player/b21947533#?asi=0&ai=6">Observations on the nature and cure of gout; on nodes of the joints; and on the influence of certain articles of diet, in gout, rheumatism, and gravel</a></i> by James Parkinson. It's a cracking read.
</p>

		<a href="/images/devils.png"><img src="http://context.whatsinthelibrary.com/images/devils.png" width="100%" alt="D3V1L" /></a>	
		<h4>Devils</h4>
		<p>Well, it's the bottom of the page now, or nearly. I wish I had something brilliant to say about the personification of disease in devil form but I don't. It's 4:47pm on Friday of Week 3, and we're just making jokes about toilets and gout, so, there's that. But! What I do know is that <i>devils are cool</i>.</p>
		<p>Wait! <a href="http://blog.wellcomelibrary.org/author/lkaplish/">Lalita</a> to the rescue! Here some real stuff, from <a href="http://www.academia.edu/224811/Talk_of_the_Devil_Crime_and_Satanic_Inspiration_in_Eighteenth-Century_England">an actual academic paper</a>!</p>
		<p><i>"...the history of the Devil afterthe early eighteenth century shifts decidedly from the social to the literary context,from the study of the Devil as fearful reality to his symbolic artistic representation. This academic disciplinary shift is, in part, a response to the increasing ubiquity of the Devil as a satirical and philosophical motif."</i></p>

	</div>
</div>

<h2>What Does the Web Know About James Gillray?</h2>
<p>There's no doubt Gillray is an important historical figure, and his legacy has spread across the planet, from London to Amsterdam to Philadelphia. There are portraits of him, books about him, and all sorts of other delights about him across the web. We've collected connections to him in other institutional databases around the web. </p>

<p>Having these IDs means we can contruct links to other websites and catalogues, which may be helpful for finding more Gillrays, or perhaps for collecting (or verifying) metadata about Gillrays in the Wellcome Library collection.</p>

    <table width="100%">
      <thead>
        <tr>
          <th>Organisation</th>
          <th>ID</th>
      </thead>
      <tbody>

        <tr>
          <td>Wikidata</td>
          <td><a href="https://www.wikidata.org/wiki/Q520806">Q520806</a></td>
        </tr>
        <tr>
          <td>VIAF (Virtual International Authority File)</td>
          <td><a href="http://viaf.org/viaf/66735065/">66735065</a></td>
        </tr>
        <tr>
          <td>Library of Congress</td>
          <td><a href="http://id.loc.gov/authorities/names/n50033402.html">n50033402</a></td>
        </tr>
        <tr>
          <td>National Library of Australia</td>
          <td><a href="http://nla.gov.au/anbd.aut-an35125322">35125322</a></td>
        </tr>
        <tr>
          <td>International Standard Name Identifier</td>
          <td><a href="http://isni.org/0000000083903643">0000 0000 8390 3643</a></td>
        </tr>
        <tr>
          <td>GND (German National Library)</td>
          <td><a href="https://portal.dnb.de/opac.htm?method=simpleSearch&cqlMode=true&query=idn%3D118694995">118694995</a></td>
        </tr>
        <tr>
          <td>ULAN (Getty Union List of Artist Names)</td>
          <td><a href="http://www.getty.edu/vow/ULANFullDisplay?find=&role=&nation=&subjectid=500017355">500017355</a></td>
        </tr>
        <tr>
          <td>BNF (Bibliothèque nationale de France)</td>
          <td><a href="http://catalogue.bnf.fr/servlet/RechercheEquation?TexteCollection=HGARSTUVWXYZ1DIECBMJNQLOKP&TexteTypeDoc=DESNFPIBTMCJOV&Equation=IDP%3Dcb149547126&host=catalogue">149547126</a></td>
        </tr>
        <tr>
          <td>BBC ‘Your Paintings’</td>
          <td><a href="http://www.bbc.co.uk/arts/yourpaintings/artists/james-gillray">james-gillray</a></td>
        </tr>
        <tr>
          <td>Oxford Biography Number</td>
          <td><a href="http://www.oxforddnb.com/index/10/101010754/">101010754</a></td>
        </tr>
        <tr>
          <td>NTA identifier (Netherlands)</td>
          <td><a href="http://opc4.kb.nl/PPN?PPN=07050878X">07050878X</a></td>
        </tr>
        <tr>
          <td>National Portrait Gallery (UK)</td>
          <td><a href="http://www.npg.org.uk/collections/search/person/mp01777">mp01777</a></td>
        </tr>
        <tr>
          <td>National Library of Sweden</td>
          <td><a href="https://libris.kb.se/auth/260638">260638</a></td>
        </tr>
        <tr>
          <td>Netherlands Institute for Art History</td>
          <td><a href="https://rkd.nl/en/explore/artists/31738">31738</a></td>
        </tr>

        <tr>
          <td>National Library of Spain</td>
          <td><a href="http://datos.bne.es/autor/XX1255065.html">XX1255065</a></td>
        </tr>
        <tr>
          <td>National Library of Portugal</td>
          <td><a href="http://purl.pt/index/geral/aut/PT/241423.html">241423</a></td>
        </tr>
        <tr>
          <td>National Diet Library of Japan</td>
          <td><a href="http://id.ndl.go.jp/auth/ndlna/00513452">00513452</a></td>
        </tr>
        <tr>
          <td>National Library of the Czech Republic</td>
          <td><a href="http://aleph.nkp.cz/F/?func=find-c&local_base=aut&ccl_term=ica=xx0177557">xx0177557</a></td>
        </tr>
        <tr>
          <td>National Library of Israel</td>
          <td>000408025</td>
        </tr>
        <tr>
          <td>French collaborative library catalog</td>
          <td><a href="http://www.idref.fr/066912415">066912415</a></td>
        </tr>
        <tr>
          <td>Cooper Hewitt</td>
          <td><a href="https://collection.cooperhewitt.org/people/18043023/">18043023</a></td>
        </tr>
        <tr>
          <td>Notable Names Database</td>
          <td><a href="http://www.nndb.com/people/173/000095885/">173/000095885</a></td>
        </tr>
        <tr>
          <td>Worldcat (uses LCCN)</td>
          <td><a href="http://www.worldcat.org/identities/lccn-n50033402/">lccn-n50033402</a></td>
        </tr>
        <tr>
          <td>Open Library</td>
          <td><a href="https://openlibrary.org/authors/OL1995226A/James_Gillray">OL1995226A</a></td>
        </tr>
      </tbody>
    </table>