<h1>Gillray at the Wellcome Library</h1>

<div class="row">
	<div class="eight columns">
		<p class="lead">
	    Many of Gillray’s prints depicted various medical conditions and interventions, often lampooning quack doctors and painful ‘cures’. That's largely why there are lots of his works at Wellcome.
Henry Wellcome actively collected satires as rich iconographic sources of social comment. There is scarce provenance information on many of them but it is likely that he acquired them in groups at auction.</p>
	</div>
	<div class="four columns">
		<a href="https://commons.wikimedia.org/wiki/File:Jamesgillrayportrait.jpg"><img src="http://context.whatsinthelibrary.com/images/James-Gillray-portrait.jpg" alt="portrait of James Gillray" width="100%"></a>
	</div>
</div>

<h3>The Patient Experience</h3>

<p>Imagine being ill in the late 1700s, looks like the cures were as painful as many of the conditions...</p>

<div class="row">
	<div class="eight columns print">
		<a href="http://wellcomelibrary.org/player/b11584956#?asi=0&ai=0"><img src="http://context.whatsinthelibrary.com/images//b11584956.jpg" alt="caricature of gout" width="100%" alt="A swollen and inflamed foot: gout is represented by an attacking demon. Coloured soft-ground etching by J. Gillray, 1799." /></a>
		<p>
			A swollen and inflamed foot: gout is represented by an attacking demon. Coloured soft-ground etching by J. Gillray, 1799.<br />
			<a href="http://wellcomelibrary.org/player/b11584956">Wellcome Library</a> 
	
		</p>
	</div>
	<div class="four columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0011198.html"><img src="http://context.whatsinthelibrary.com/images/b11602089.jpg" width="100%" alt="A convalescing man happily eating a meal, assisted by his grinning servant. Coloured etching by J. Gillray, 1804, after J. Sneyd" /></a>
		<p>
			A convalescing man happily eating a meal, assisted by his grinning servant. Coloured etching by J. Gillray, 1804, after J. Sneyd<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011198.html">Wellcome Images</a>
			
		</p>
	</div>
</div>
<div class="row">
	<div class="six columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0011195.html"><img src="http://context.whatsinthelibrary.com/images/b1160203x.jpg" width="100%" alt="An ill man being bled by a surgeon. Coloured etching by J. Gillray, 1804, after J. Sneyd" /></a>
		<p>
			An ill man being bled by a surgeon. Coloured etching by J. Gillray, 1804, after J. Sneyd<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011195.html">Wellcome Images</a>
			
		</p>
	</div>
	<div class="six columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0011187.html"><img src="http://context.whatsinthelibrary.com/images/b11601929.jpg" width="100%" alt="A grimacing invalid seated before a bowl having received an emetic, another man clasps his head compassionately. Coloured etching by J. Gillray, 1804, after J. Sneyd" /></a>
		<p>
			A grimacing invalid seated before a bowl having received an emetic, another man clasps his head compassionately. Coloured etching by J. Gillray, 1804, after J. Sneyd<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011187.html">Wellcome Images</a>
			
		</p>
	</div>
</div>
<div class="row">
	<div class="four columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0011136.html"><img src="http://context.whatsinthelibrary.com/images/b11599996.jpg" width="100%" alt="A man standing by a fire place, pulling a peculiar face after taking some medicine. Coloured etching by J. Gillray, 1800" /></a>
		<p>
			A man standing by a fire place, pulling a peculiar face after taking some medicine. Coloured etching by J. Gillray, 1800<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011136.html">Wellcome Images</a>
			
		</p>
	</div>
	<div class="four columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0012059.html"><img src="http://context.whatsinthelibrary.com/images/b11744893.jpg" width="100%" alt="A tooth-drawer extracting a tooth from a patient who is seated on a stool. Coloured stipple engraving by J. Gillray, 1796" /></a>
		<p>
			A tooth-drawer extracting a tooth from a patient who is seated on a stool. Coloured stipple engraving by J. Gillray, 1796<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0012059.html">Wellcome Images</a>
		
		</p>
	</div>
	<div class="four columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0011192.html"><img src="http://context.whatsinthelibrary.com/images/b11602004.jpg" width="100%" alt="A sick man stranded on the toilet after taking a laxative. Coloured etching by J. Gillray, 1804, after J. Sneyd" /></a>
		<p>
			A sick man stranded on the toilet after taking a laxative. Coloured etching by J. Gillray, 1804, after J. Sneyd<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011192.html">Wellcome Images</a>
			
		</p>
	</div>
</div>
<div class="row">
	<div class="six columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0011170.html"><img src="http://context.whatsinthelibrary.com/images/b11600366.jpg" width="100%" alt="A woman taking a large knife and scissors to the corns on her feet. Coloured lithograph after J. Gillray" /></a>
		<p>
			A woman taking a large knife and scissors to the corns on her feet. Coloured lithograph after J. Gillray<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011170.html">Wellcome Images</a>
		</p>
	</div>
	<div class="six columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0011168.html"><img src="http://context.whatsinthelibrary.com/images/b11600342.jpg" width="100%" alt="A haggard old woman taking a large file to the corns on her feet. Coloured etching by J. Gillray, 1800, after himself" /></a>
		<p>
			A haggard old woman taking a large file to the corns on her feet. Coloured etching by J. Gillray, 1800, after himself<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011168.html">Wellcome Images</a>
			
		</p>
	</div>
</div>

<p class="context">Medical care cost money so most people relied on home remedies. Cutting your corns off with a massive knife probably isn't recommended, even though it might have been popular around 1800.</p>

<div class="print">
		<a href="http://wellcomeimages.org/indexplus/image/V0010858.html"><img src="http://context.whatsinthelibrary.com/images/b11586436.jpg" width="100%" alt="Three people drinking punch as a cure for (right to left) gout, colic, and phthisic. Coloured etching by J. Gillray, 1799 " /></a>
		<p>
			Three people drinking punch as a cure for (right to left) gout, colic, and phthisic. Coloured etching by J. Gillray, 1799<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0010858.html">Wellcome Images</a>
			
		</p>
</div>

<h3>Medical Men and Quacks</h3>

<div class="row">
	<div class="eight columns">
		<p>The medical trade was, shall we say, an emerging industry. Various physicians, apothecaries, and surgeons were licensed in all kinds of colourful ways - or not at all - and unrepentently practiced on any citizens who could afford them. </p>
		<p>It was a medical marketplace, with the catchiest advertisements snaring the sick and the desperate, often subjecting them to unbelievable "treatments".</p>		
	</div>
	
<div>

<div class="row">
	<div class="three columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0012058.html"><img src="http://context.whatsinthelibrary.com/images/b11744856.jpg" width="100%" alt="A wealthy patient falling over because of having a tooth extracted with such vigour by a fashionable dentist. " /></a>
		<p>
			A wealthy patient falling over because of having a tooth extracted with such vigour by a fashionable dentist.<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0012058.html">Wellcome Images</a>
		
		</p>
	</div>
	<div class="three columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0010922.html"><img src="http://context.whatsinthelibrary.com/images/b11589656.jpg" width="100%" alt="Dr. John Burges, on tiptoe outside a building in Warwick Lane" /></a>
		<p>
			Dr. John Burges, on tiptoe outside a building in Warwick Lane<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0010922.html">Wellcome Images</a>
			
		</p>
	</div>
	<div class="three columns print">
		<a href="wellcomeimages.org/indexplus/image/V0010959.html"><img src="http://context.whatsinthelibrary.com/images/b11590130.jpg" width="100%" alt="A butcher threatening a doctor with revenge for poisoning his wife. Etching by J. Kent, 1782, after P.V and attrib. to Gillray" /></a>
		<p>
			A butcher threatening a doctor with revenge for poisoning his wife. Etching by J. Kent, 1782, after P.V and attrib. to Gillray<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0010959.html">Wellcome Images</a>
			
		</p>
	</div>
	<div class="three columns print">
		<a href="http://wellcomeimages.org/indexplus/image/L0064371.html"><img src="http://context.whatsinthelibrary.com/images/b17236642.jpg" width="100%" alt="Man-midwives attempting to deliver a monstrous woman representing the Dutch National Convention" /></a>
		<p>
			Man-midwives attempting to deliver a monstrous woman representing the Dutch National Convention. Etching attributed to James Gillray, 1796, after David Hess.<br />
			<a href="http://wellcomeimages.org/indexplus/image/L0064371.html">Wellcome Images</a>
			
		</p>
	</div>	
</div>

<div class="print">
	<a href="http://wellcomelibrary.org/player/b11599509"><img src="http://context.whatsinthelibrary.com/images/b11599509.jpg" width="100%" alt="An operator treating the carbuncled nose of an obese patient with 'Perkins's tractors'. Coloured aquatint after J. Gillray, 1801" /></a>
	<p>
		An operator treating the carbuncled nose of an obese patient with "Perkins's tractors". Coloured aquatint after J. Gillray, 1801<br />
		<a href="http://wellcomelibrary.org/player/b11599509">Wellcome Library</a>
		
		
	</p>
</div>

<p class="context">"Metallic Tractors" were a type of <a href="http://wellcome-mesh-browser.herokuapp.com/D011781">quack</a> treatment invented (and patented) by <a href="https://en.wikipedia.org/wiki/Elisha_Perkins">Elisha Perkins</a>. They used the body's own electricity to expel disease with a metal rod. Tractors cured many inflammatory diseases, including gout, or so its inventor Elisha Perkins have you believe...</p>

<h3>Vaccination</h3>

<p>Around 1798, Edward Jenner made the discovery that taking the pus from a cow with cow pox (yes, a cow), and injecting that pus into a human, actually protected the human against the more deadly smallpox. But no wonder people were suspicious that this was just another quack cure.</p>

<p>Look, you can see Jenner in the print below, injecting cow pox into an anxious woman surround by cow-humans.</p>

<div class="print">
	<a href="http://wellcomelibrary.org/player/b11598761"><img src="http://context.whatsinthelibrary.com/images/b11598761.jpg" width="100%" alt="Edward Jenner vaccinating patients in the Smallpox and Inoculation Hospital at St. Pancras: the patients develop features of cows. Coloured etching by J. Gillray, 1802." /></a>
	<p>
		Edward Jenner vaccinating patients in the Smallpox and Inoculation Hospital at St. Pancras: the patients develop features of cows. Coloured etching by J. Gillray, 1802.<br />
		<a href="http://wellcomelibrary.org/player/b11598761">Wellcome Library</a>
		
		
	</p>
</div>

<h3>Medicine and Satire</h3>

<p>An explosion in cheap printing techniques and enviable freedom of expression in 18th century Britain gave caricaturists such as Gillray, Rowlandson and Williams a ready market for their work. Gillray was perhaps the most viscious of the satirists, unafraid to show even the King on his special, private "throne".</p>

<div class="print">
	<a href="http://wellcomeimages.org/indexplus/image/V0011317.html"><img src="http://context.whatsinthelibrary.com/images/b11603720.jpg" width="100%" alt="Charles James Fox, dangerously ill, visited by an entourage of interested factions:representing the social and ministerial conflict surrounding him" /></a>
	<p>
		Charles James Fox, dangerously ill, visited by an entourage of interested factions:representing the social and ministerial conflict surrounding him<br />
  </p>


  <p><b>Features (left to right):</b><br>
    <a href="https://en.wikipedia.org/wiki/Elizabeth_Armistead">Elizabeth Bridget Fox</a>,
    <a href="https://en.wikipedia.org/wiki/Edward_Stanley,_15th_Earl_of_Derby">Edward Henry Stanley, 15th Earl of Derby</a>,
    <a href="https://en.wikipedia.org/wiki/Richard_Temple-Nugent-Brydges-Chandos-Grenville,_3rd_Duke_of_Buckingham_and_Chandos">Richard Plantagenet Campbell Temple-Nugent-Brydges-Chandos-Grenville, 3rd Duke of Buckingham and Chandos</a>,
    <a href="https://en.wikipedia.org/wiki/George_Nugent-Temple-Grenville,_1st_Marquess_of_Buckingham">George Nugent-Temple-Grenville, 1st Marquess of Buckingham</a>,
    <a href="https://en.wikipedia.org/wiki/William_Grenville,_1st_Baron_Grenville">William Wyndham Grenville, 1st Baron Grenville</a>,
    <a href="https://en.wikipedia.org/wiki/Henry_Petty-Fitzmaurice,_3rd_Marquess_of_Lansdowne">Henry Petty-Fitzmaurice, 3rd Marquess of Lansdowne</a>,
    <a href="https://en.wikipedia.org/wiki/William_Windham">William Windham</a>,
    <a href="https://en.wikipedia.org/wiki/Francis_Rawdon-Hastings,_1st_Marquess_of_Hastings">Francis Edward Rawdon-Hastings, 1st Marquess of Hastings </a>,
    <a href="https://en.wikipedia.org/wiki/William_IV_of_the_United_Kingdom">King William IV</a>,
    <a href="https://en.wikipedia.org/wiki/Maria_Fitzherbert">Maria Anne Fitzherbert</a>,
    <a href="https://en.wikipedia.org/wiki/Charles_James_Fox">Charles James Fox</a>,
    <a href="https://en.wikipedia.org/wiki/Thomas_O%27Beirne">The Right Reverend Thomas Lewis O'Beirne</a>,
    <a href="https://en.wikipedia.org/wiki/Richard_Brinsley_Sheridan">Richard Brinsley Sheridan</a>,
    <a href="https://en.wikipedia.org/wiki/Charles_Grey,_2nd_Earl_Grey">Charles Grey, 2nd Earl Grey</a>,
    <a href="https://en.wikipedia.org/wiki/Henry_Addington,_1st_Viscount_Sidmouth">Henry Addington, 1st Viscount Sidmouth</a>
    </p>

    <p>
		<a href="http://wellcomeimages.org/indexplus/image/V0011317.html">Wellcome Images</a>
	
	</p>
</div>
<div class="row">
	<div class="six columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0011289.html"><img src="http://context.whatsinthelibrary.com/images/b11603434.jpg" width="100%" alt="Lord North and Fox excreting into a pan bearing the Royal Arms, a little devil is mixing the stench between them; implying the appalling effects of the coalition government" /></a>
		<p>
			Lord North and Fox excreting into a pan bearing the Royal Arms, a little devil is mixing the stench between them; implying the appalling effects of the coalition government<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011289.html">Wellcome Images</a>
			
		</p>
	</div>
	<div class="six columns print">
		<a href="http://wellcomeimages.org/indexplus/image/L0031334.html"><img src="http://context.whatsinthelibrary.com/images/b15323584.jpg" width="100%" alt="The countries of Europe representing physicians and surgeons trying to regenerate a woman personifying the Dutch republic" /></a>
		<p>
			The countries of Europe representing physicians and surgeons trying to regenerate a woman personifying the Dutch republic<br />
			<a href="http://wellcomeimages.org/indexplus/image/L0031334.html">Wellcome Images</a>
			
		</p>
	</div>
</div>
<div class="row">
	<div class="six columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0011311.html"><img src="http://context.whatsinthelibrary.com/images/b11603665.jpg" width="100%" alt="Henry Addington as a medical practitioner bleeding the exhausted John Bull, assisted by other politicians; representing Britain's strength being sapped by nepotism in politics and by war with Napoleon" /></a>
		<p>
			Henry Addington as a medical practitioner bleeding the exhausted John Bull, assisted by other politicians; representing Britain's strength being sapped by nepotism in politics and by war with Napoleon<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011311.html">Wellcome Images</a>
			
		</p>
	</div>
	<div class="six columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0011312.html"><img src="http://context.whatsinthelibrary.com/images/b11603677.jpg" width="100%" alt="A doctor kicking his rival out of a female patient's sickroom, while trampling another underfoot: representing the change of government and the exclusion of Fox from Pitt's ministry" /></a>
		<p>
			A doctor kicking his rival out of a female patient's sickroom, while trampling another underfoot: representing the change of government and the exclusion of Fox from Pitt's ministry<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011312.html">Wellcome Images</a>
			
		</p>
	</div>
</div>
<div class="row">
	<div class="six columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0011292.html"><img src="http://context.whatsinthelibrary.com/images/b1160346x.jpg" width="100%" alt="Fox running out of the House of Commons in the middle of a debate with Pitt about the Regency crisis: he is excreting as he runs, which refers to a bout of dysentery he caught on route from Bologna" /></a>
		<p>
			Fox running out of the House of Commons in the middle of a debate with Pitt about the Regency crisis: he is excreting as he runs, which refers to a bout of dysentery he caught on route from Bologna<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011292.html">Wellcome Images</a>
			
		</p>
	</div>
	<div class="six columns print">
		<a href="http://wellcomeimages.org/indexplus/image/V0011298.html"><img src="http://context.whatsinthelibrary.com/images/b11603525.jpg" width="100%" alt="The grossly agitated King and Queen seated in a latrine to receive a message from the emaciated Pitt; representing the Royal reaction to news of the King of Sweden's assassination" /></a>
		<p>
			The grossly agitated King and Queen seated in a latrine to receive a message from the emaciated Pitt; representing the Royal reaction to news of the King of Sweden's assassination<br />
			<a href="http://wellcomeimages.org/indexplus/image/V0011298.html">Wellcome Images</a>
		
		</p>
	</div>
</div>

<h2>Printmaking and Copies</h2>

<p>The Wellcome Library has many versions of the same Gillray print. All the versions are grouped together physically in the stores, but are catalogued as individual items online.</p>

<p>Here we’ve arranged them together again so you can compare them to each other. Some of the prints date from after Gilray's death, clearly the publishers continued to issue new prints from the existing engraving plates.</p>

<h3>Taking PHYSICK</h3>

<p>In some cases the prints are mirror images of each other. This is where a later engraver has made a new plate by tracing the image from an earlier print.</p>

<div class="row">
  <div class="two columns print">
    <a href="/images/b1160217x.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b1160217x.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b1160220x.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b1160220x.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11599996.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11599996.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602144.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602144.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602223.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602223.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602211.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602211.jpg" width="100%" alt="" /></a>
  </div>
</div>

<div class="row">
  <div class="two columns print">
    <a href="/images/b11602193.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602193.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602168.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602168.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602156.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602156.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602235.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602235.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602247.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602247.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602259.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602259.jpg" width="100%" alt="" /></a>
  </div>
</div>

<p class="context">This set depicts a patient taking a physick (medicine), perhaps a <a href="http://wellcome-mesh-browser.herokuapp.com/D054368">laxative</a> (hence the presence of the toilet in the background in some versions). The last one probably isn't even by Gillray, but is a copy/re-interpretation done by another artist.</p>


<h3>The Gout</h3>

<div class="row">
  <div class="three columns print">
    <a href="/images/b11584968.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11584968.jpg" width="100%" alt="" /></a>
  </div>
  <div class="three columns print">
    <a href="/images/b11584956.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11584956.jpg" width="100%" alt="" /></a>
  </div>
  <div class="three columns print">
    <a href="/images/b1158497x.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b1158497x.jpg" width="100%" alt="" /></a>
  </div>
</div>

<p class="context">This group depicts a devilish creature sinking his teeth into a swollen foot, representing the extreme pain of the illness <a href="http://wellcome-mesh-browser.herokuapp.com/D006073">gout</a>. The sequence of prints shows different stages of printing, from line drawing to the addition of colour.</p>

<h3>Gentle Emetic</h3>

<div class="row">
  <div class="two columns print">
    <a href="/images/b1160198x.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b1160198x.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11601929.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11601929.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11601930.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11601930.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11601942.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11601942.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11601954.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11601954.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11601978.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11601978.jpg" width="100%" alt="" /></a>
  </div>
</div>

<div class="row">
  <div class="two columns print">
    <a href="/images/b11601991.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11601991.jpg" width="100%" alt="" /></a>
  </div>
</div>

<p class="context">Emetics make you <a href="http://wellcome-mesh-browser.herokuapp.com/D014839">vomit</a>, so given the pained expression of this patient’s expression, and the large bowl in front of him, <em>gentle</em> here is somewhat satirical.</p>

<h3>Breathing a vein</h3>

<div class="row">
  <div class="two columns print">
    <a href="/images/b1160203x.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b1160203x.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602041.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602041.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602053.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602053.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11602065.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11602065.jpg" width="100%" alt="" /></a>
  </div>
</div>

<p class="context">Breathing a vein was a popular term for <a href="http://wellcome-mesh-browser.herokuapp.com/D001815">bloodletting</a>. It was a common procedure for all manor of illness.</p>

<h3>Easing the Toothach [sic]</h2>

<div class="row">
  <div class="two columns print">
    <a href="/images/b11744893.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11744893.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11744911.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11744911.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b11744972.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b11744972.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b1174490x.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b1174490x.jpg" width="100%" alt="" /></a>
  </div>
  <div class="two columns print">
    <a href="/images/b14553302.jpg"><img src="http://context.whatsinthelibrary.com/images/thumbnails/b14553302.jpg" width="100%" alt="" /></a>
  </div>
</div>

<p>It’s not quite clear what the dentists are actually doing here, but looks like it hurts.
The last version 'borrows' Gillray's print in an actual advert for a dentist! </p>

<h2>Digitised Books <em>about</em> Gillray</h2>

<div class="row">
	<div class="six columns center">
		<a href="https://archive.org/stream/worksofjamesgill00wrig#page/n0/mode/1up" title="Read on the Internet Archive"><img src="http://context.whatsinthelibrary.com/images/book2.png" width="90%" alt="screengrab of the open digitised book" /></a> <br />
		<a href="https://archive.org/stream/worksofjamesgill00wrig#page/n0/mode/1up">The works of James Gillray, the caricaturist : with the history of his life and times</a><br />
		edited by Thomas Wright
	</div>
	<div class="six columns center">
		<a href="http://wellcomelibrary.org/player/b21778024#?asi=0&ai=0" title="read in the Wellcome Library player"><img src="http://context.whatsinthelibrary.com/images/book1.png" width="80%" alt="screengrab of the open digitised book" /></a> <br />
		<a href="http://wellcomelibrary.org/player/b21778024#?asi=0&ai=0" title="read in the Wellcome Library player">Historical & descriptive account of the caricatures of James Gillray</a><br />
		by Thomas Wright and R. H. Evans
	</div>
</div>

<!-- cheat -->
<p>&nbsp;</p>

