<h1>People</h1>


<h2>Prominent Authors</h2>

  <% @top_people.each do |person| %>

  <div class="three columns">
    <div style="width: 100%;	height: 100%;	border-radius: 50%;	-webkit-border-radius: 50%;	-moz-border-radius: 50%; background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Florence_Nightingale_three_quarter_length.jpg/220px-Florence_Nightingale_three_quarter_length.jpg) no-repeat;"></div>
    <div class="name"><%= link_to person.name, person %></div>
  </div>

  <% end %>

<ol>
  <% @top_people.each do |person| %>
    <li><%= link_to person.name, person %> <small><%= pluralize(person.records_count, 'thing') %></small></li>
  <% end %>
</ol>
