<h1>People</h1>


<h2>Prominent Authors</h2>

  <% @top_people.each do |person| %>

  <div class="three columns center circle-container">
    <div class="portrait-circle"></div>
    <div class="name"><%= link_to person.name, person %></div>
  </div>

  <% end %>


<br clear="all" />
<br clear="all" />
<br clear="all" />
<br clear="all" />
<ol>
  <% @top_people.each do |person| %>
    <li><%= link_to person.name, person %> <small><%= pluralize(person.records_count, 'thing') %></small></li>
  <% end %>
</ol>
