<h1>People</h1>

  <% @top_people.each do |person| %>

  <div class="circle-container">
    <div class="portrait-circle"></div>
    <div class="name" title="<%= pluralize(person.records_count, 'thing') %>"><%= link_to person.name, person %></div>
  </div>

  <% end %>


<br clear="all" />
<br clear="all" />
<br clear="all" />
<br clear="all" />
<ol>
  <% @top_people.each do |person| %>
    <li><%= link_to person.name, person %> <small><%= pluralize(person.records_count, 'thing') %></small></li>
  <% end %>
</ol>
