<h1><%= @type.name %></h1>

<p><%= pluralize_with_delimiter(@type.records_count, 'record') %></p>

<ul>
  <% @records.each do |record| %>

    <li><%= link_to record.title, thing_path(record) %></li>

  <% end %>
</ul>