<% content_for :title, @type.name %>

<h1><%= @type.name %></h1>

<% if @records_count > 0 %>
  <div class="row">
    <div class="nine columns">
      <h2><%= pluralize_with_delimiter(@type.records_count, 'thing') %></h2>
    </div>
    <div class="three columns">
  	little digitisation bar graph
  	<div class="lil-vis">
      <div class="digitised">
        <div class="percent-done" style="width: ;">&nbsp;</div>
      </div>
       digitised
  	</div>
    </div>
  </div>
<% end %>

<ul>
  <% @records.each do |record| %>

    <li><%= link_to record.title, thing_path(record) %></li>

  <% end %>
</ul>

