<nav>
  <%= link_to "Recent Changes", recent_changes_path, class: 'is-admin' %> &nbsp;&bull;&nbsp;  
  <%= link_to "Editors", users_path, class: 'is-admin' %> &nbsp;&bull;&nbsp; 
  <%= link_to "All Collections", all_collections_path, class: 'is-admin' %>
</nav>