<h1>Welcome to Week 4!</h1>

<p>Our work this week is about Scalability. We're hoping to take the work of the previous three weeks - <a href="http://scope.whatsinthelibrary.com">scope</a>, <a href="http://thing.whatsinthelibrary.com">show the thing</a> and <a href="http://context.whatsinthelibrary.com">context</a> - and bundle it together in a fourth exploration. We're curious to see how we can enrich the MaRC across 962,000 records programmatically. </p>

<div class="row">
  <div class="three columns">
   <h2>Day 1</h2> 
  </div>
  <div class="nine columns">
    <ul>
      <li>We've started building a list of <a href="/people">People</a>.</li>
      <li><%= link_to 'An example subject page', subject_path('123456') %></li>
      <li><%= link_to 'On hemorrhoids', thing_path('b19798945') %> thing page</li>
    </ul>
  </div>
</div>
