<% content_for :title, "Home" %>
        <% if current_user %>
			<h1>Woo!</h1>
		<% else %>
			<div class="center" style="padding: 50px;">
				<h1>Welcome to our new library explorer.</h1>
			</div>
		<% end %>

<div class="row center">
  <div class="six columns">
    <h4>Interesting <a href="/people">People</a></h4>

    <p><%= @people.collect {|person| link_to person.name, person}.to_sentence.html_safe %></p>
  </div>
  <div class="six columns">
    <h4>Curious <a href="/subjects">Subjects</a></h4>

    <p><%= @subjects.collect {|s| link_to s.label, s}.to_sentence.html_safe %></p>

  </div>
</div>

<div class="row center">
  <div class="six columns">
    <h4>Digitised <a href="/collections">Collections</a></h4>

    <p><a href="no link yet" style="color:red">Collection Name</a>, <a href="no link yet" style="color:red">Collection Name</a>, <a href="no link yet" style="color:red">Collection Name</a>, or <a href="no link yet" style="color:red">Collection Name</a>. </p>
  </div>
  <div class="six columns">
    <h4>Unexpected <a href="/types">Types</a> of Things</h4>

    <p>Fancy a <a href="no link yet" style="color:red">Type</a>, <a href="no link yet" style="color:red">Type</a>, <a href="no link yet" style="color:red">Type</a>, <a href="no link yet" style="color:red">Type</a>, <a href="no link yet" style="color:red">Type</a>, or <a href="no link yet" style="color:red">Type</a>?</p>

  </div>
</div>
