<% content_for :title, "Home" %>

        <% if current_user %>
			<h1>Woo!</h1>
		<% else %>
			<h1>Hello.</h1>
		<% end %>
			
<div class="row">
  <div class="six columns">
    <h4>Interesting People</h4>
    <a href="/people/P2797">Galen</a>,
    <a href="/people/P835">Marie Stopes</a>,
    <a href="/people/P2802">Henry S. Wellcome</a>,
    <a href="/people/P27577">James Gillray</a>,
    <a href="/people/P13514">Edward Jenner</a>,
    <a href="/people/P5581">Vesalius</a>,
    <a href="/people/P2">Charles Darwin</a>,
    <a href="/people/P20649">Francis Crick</a>,
    <a href="/people/P2175">John Snow</a>,
    <a href="/people/P432">Florence Nightingale</a>,
    <a href="/people/P530">Melanie Klein</a>
  </div>
  <div class="six columns">
    <h4>Curious Subjects</h4>
    <a href="/subjects/S3154">Cooking</a>,
    <a href="/subjects/S11127">Public health</a>,
    <a href="/subjects/S9299">Nurses</a>,
    <a href="/subjects/S840">Cultural anthropology</a>
    <a href="/subjects/S678">Anatomy</a>,
    <a href="/subjects/S10457">Plague</a>,
    <a href="/subjects/S46428">Apparent death</a>,
    <a href="/subjects/S6475">Psychiatric hospitals</a>,
    <a href="/subjects/s5094">Fetishism</a>,
    <a href="/subjects/S401">Alchemy</a>,
    <a href="/subjects/S21156">Flowers</a>, and
    <a href="/subjects/S3293">Crutches</a>
  </div>
</div>
