<h1>Home</h1>

<p>Welcome to Week 4</p>

<p><%= link_to 'Example person page', person_path('123456') %></p>
<p><%= link_to 'Example subject page', subject_path('123456') %></p>
<p><%= link_to 'Example thing page', thing_path('b123456') %></p>