<% content_for :title, "Home" %>
        <% if current_user %>
			<h1>Woo!</h1>
		<% else %>
			<div class="center" style="padding: 60px;">
				<h1>We're trying something different.</h1>
				<h3>This library explorer is designed to help you wander the stacks, and find things you didn't know you were looking for.</h3>
			</div>
		<% end %>

<div class="row">
  <div class="six columns">
    <h4>Interesting <a href="/people">People</a></h4>

    <p><%= @people.collect {|person| link_to person.name, person}.to_sentence.html_safe %></p>
  </div>
  <div class="six columns">
    <h4>Curious <a href="/subjects">Subjects</a></h4>

    <p><%= @subjects.collect {|s| link_to s.label, s}.to_sentence.html_safe %></p>

  </div>
</div>
