 <% content_for :title, "About this Alpha" %>

<h1>What's This?</h1>
<div class="row">
	<div class="eight columns"> 
		<p>
			<b>Welcome to the Alpha.</b>
			This website is the Library's lab: a place where we can experiment with new ways of sharing our collections with you. Our primary goals are to </p>
		<ul>
			<li>show all the free digitised content so you can get a taste of what's available</li>
			<li>give historical context for the creators, subjects and collections held in Wellcome Library.</li>
		</ul>
		<p>We are digitising as much of our collection as we can and putting it online. We are also importing digital books from the <a href="http://archive.org/details/ukmhl">UK Medical Heritage Library</a>, <a href="http://archive.org/details/medicalheritagelibrary">Medical Heritage Library (USA)</a> and other selected research institution partners. This rapidly growing digital collection includes materials covering about than <a href="/subjects">100,000 subjects</a> and <a href="/people">233,000 people</a>.</p>
		<p>Have a look around and let us know what you uncover!</p>
	
		<p>During 2016, we will gather more information about how people are using the website to explore our collections. We will also set out what technical, data and content requirements must be in place before the site is good enough to replace the current library website.</p>

		<h3>Get involved</h3>
		<p>Help us shape the future of the Library website! If you'd like to be part of our alpha user group, or have any comments or questions about our progress, please get in touch. </p>
	
		<h6>Email Us</h6>
		<p><a href="mailto:LibraryWebEditorial@wellcome.ac.uk">LibraryWebEditorial@wellcome.ac.uk</a></p>
		<h6>Twitter</h6>
		<p>Please follow <a href="http://twitter.com/wellcomedigital">@wellcomedigital</a>, and use #alpha if you'd like to discuss this website.</p>	

	</div>
	<div class="four columns">

		<h5>What does "alpha" mean?</h5>
		<p>Alpha software is a very early-stage release that <em>might be a bit unstable</em> or <em>even crash from time to time</em>. This early release doesn't yet contain all the features we've been dreaming about, but we're keen to hear early feedback to help guide our development.</p>
		<p>To find out more about the early days of this alpha site, visit our <a href="http://whatsinthelibrary.wordpress.com">What's In The Library? project blog</a>.</p>

		<h5>Other Library Resources</h5>
		<p>If you want to do a comprehensive <a href="http://wellcomelibrary.org/search-the-catalogues">catalogue search</a>, find out about <a href="http://wellcomelibrary.org/visit-us">visiting the Library</a>, or discover what else we offer, please visit our official website at <a href="http://wellcomelibrary.org">wellcomelibrary.org</a>.</p>
		
	</div>
</div>