 <% content_for :title, "About this Alpha" %>

<h1>Welcome.</h1>
<div class="row">
	<div class="seven columns"> 
	
		<h4>We're trying something different. This library explorer is designed to help you wander the stacks, and find things you didn't know you were looking for.</h4>
	
		<p>
			We want to make it easier to explore Wellcome Library online. This website is an experimental space where you can see our work in progress. </p>
			<p>We are digitising as much of our collection as we can and putting it online. We are also importing digital books from the <a href="http://archive.org/details/ukmhl">UK Medical Heritage Library</a>, <a href="http://archive.org/details/medicalheritagelibrary">Medical Heritage Library (USA)</a> and other selected research institution partners. This rapidly growing digital collection includes materials covering around <a href="/subjects">100,000 subjects</a> and <a href="/people">233,000 people</a>. There's much to explore!</p>
			<p>Our intention with this alpha is to </p>
		<ul>
			<li>show all the free digitised content so you can get a taste of what's available</li>
			<li>give historical context for the creators, subjects and collections held in Wellcome Library.</li>
		</ul>
		<p>During 2016 we will also gather more information about how people are using the website. This feedback will shape the technical, data and content aspects for a re-imagined Library website.</p>
		<p>Have a look around and let us know what you uncover!</p>
		<h3>The data</h3>
		<p>This website was built on top of a copy of more than 970,000 Library catalogue records in MARCXML format. What this means to you, today, is that you’re exploring the Wellcome Library’s collections as they were in December 2015. If you’re looking for the most up-to-date holdings and data, please visit the official website. Our <a href="http://wellcomelibrary.org/collections/digital-collections/">Digital Collections</a> page is a good place to start!</p>

		<h3>Get involved</h3>
		<p>Help us shape the future of the Library website! If you'd like to be part of our alpha user group, or have any comments or questions about our progress, please get in touch. </p>
	
		<h6>Email Us</h6>
		<p><a href="mailto:LibraryWebEditorial@wellcome.ac.uk">LibraryWebEditorial@wellcome.ac.uk</a></p>
		<h6>Twitter</h6>
		<p>Please follow <a href="http://twitter.com/wellcomelibrary">@wellcomelibrary</a>, and use #alpha if you'd like to discuss this website.</p>	

	</div>
	<div class="four offset-by-one columns">

		<h6>What does "alpha" mean?</h6>
		<p>Alpha software is a very early-stage release that <em>might be a bit unstable</em> or <em>even crash from time to time</em>. This early release doesn't yet contain all the features we've been dreaming about, but we're keen to hear early feedback to help guide our development.</p>
		<p>To find out more about the early days of this alpha site, visit our <a href="http://whatsinthelibrary.wordpress.com">What's In The Library? project blog</a>.</p>

		<h5>Other Library Resources</h5>
		<p>If you want to do a comprehensive <a href="http://wellcomelibrary.org/search-the-catalogues">catalogue search</a>, find out about <a href="http://wellcomelibrary.org/visit-us">visiting the Library</a>, or discover what else we offer, please visit our official website at <a href="http://wellcomelibrary.org">wellcomelibrary.org</a>.</p>
		
	</div>
</div>
