<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>About</title>
	</head>
	<body>
	<h1>Welcome to the Wellcome Library alpha site.</h1>
		<p>This website is the Library's lab: a place where we can experiment with new ways of sharing our collections with you. Our primary goals are to
			<ul>
			<li>show all the free digitised content so you can get a taste of what's available</li>
			<li>give historical context for the creators, subjects and collections held in Wellcome Library.</li></ul>
	<p>We are digitising as much of our collection as we can and putting it online. We are also importing digital books from the UK Medical Heritage Library, Medical Heritage Library (USA) and other selected research institution partners. This rapidly growing digital collection includes materials covering more than 99,000 subjects and 233,000 creators. Have a look around and let us know what you uncover!</p>
	<h2>What is an alpha?</h2>
		<p>We've released this as a work-in progress, or alpha website. During 2016, we will gather more information about how people are you'd expect to find.</p>
	<h2>Get involved</h2>
		<p>If you'd like to be part of our alpha user group, or have any comments or questions about our progress, please get in touch.
		<ul><li>Email <a href="mailto:LibraryWebEditorial@wellcome.ac.uk">LibraryWebEditorial@wellcome.ac.uk</a></li><li>Tweet us @wellcomedigital #alpha</li></ul></p>
	<h2>Explore more</h2>
		<p>If you want to do a comprehensive <a href="http://wellcomelibrary.org/search-the-catalogues">catalogue search</a>, find out about <a href="http://wellcomelibrary.org/visit-us">visiting the Library</a>, or discover what else we offer, please visit our official website at <a href="http://wellcomelibrary.org">wellcomelibrary.org</a>.</p>
		<p>To find out more about the early days of this alpha site, visit our <a href="http://whatsinthelibrary.wordpress.com">What's In The Library? project blog</a>.</p>
	</body>
</html>
