<h1><%= @subjects.collect {|subject| link_to(subject.label, subject) }.join(' +  ').html_safe %></h1>

<% @records.each do |thing| %>
  <div class="cover-box">
    <div class="cover">
      <%= link_to thing_path(thing), title: thing.title do %>
        <% if thing.cover_image_url %>
          <%= image_tag thing.cover_image_url(150,300) %>
        <% else %>
          <%= thing.title %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>