<% content_for :title, "#{@type.name} within #{@collection.name}" %>

<h6><a href="/collections">Collections</a> &rarr; <%= link_to @collection.name, @collection %> / <%= link_to "Types", collection_types_path(@collection) %></h6>
<h1><%= @type.name %></h2>

<% @records.each do |record| %>
  <%= render record %>
<% end %>