.count-bars {
  border-bottom: 4px solid white;
  margin-top: 29px;
}
.count-bars, .count-bars-labels, .count-bars-values {
  display: table;
  width: 100%;
}
.count-bars .bar {
  display: table-cell;
  vertical-align: bottom;
  padding: 0;
  background: inherit;
}

.count-bars .bar:hover {
  background: gold;
}

.count-bars .bar .box {
  display: block;
}

.count-bars .bar.bad .box {
  opacity: 0.5;
}

.count-bars .bar .box.digitised {
  background: white;
}

.count-bars .bar .box.undigitised {
  background: black;
}

.count-bars .bar.highlighted {
  background: gold;
}

.count-bars-labels, .count-bars-values {
  margin-top: 3px;
  margin-bottom: 25px;
}

.count-bars-labels .label,
.count-bars-values .value {
  display: table-cell;
  position: relative;
}

.count-bars-labels .label span,
.count-bars-values .value span {
  position: absolute;
  left: 50%; top: 0;
  width: 40px;
  margin-left: -22px;
  text-align: center;
  background: black;
  color: white;
  padding: 2px;
  visibility: hidden;
  z-index: 3;
}

.count-bars-labels .label.show span,
.count-bars-values .value.show span {
  visibility: visible;
}

.count-bars-values .value.zero span {
  background-color: rgba(0,0,0,0.5)
}

.count-bars-labels .label.always-show span {
  visibility: visible;
  z-index: 1;
}

.count-bars-labels .label.highlighted span,
.count-bars-values .value.highlighted span {
  visibility: visible;
  z-index: 2;
  color: black;
  background: gold;
}
