.count-bars {
  border-bottom: 4px solid white;
}
.count-bars, .count-bars-labels {
  display: table;
  width: 100%;
}

.count-bars .bar {
  display: table-cell;
  vertical-align: bottom;
  padding: 0;
}

.count-bars .bar:hover {
  background: gold;
}

.count-bars .bar .box {
  display: block;
}

.count-bars .bar.bad .box {
  opacity: 0.5;
}

.count-bars .bar .box.digitised {
  background: white;
}

.count-bars .bar .box.undigitised {
  background: black;
}

.count-bars .bar .box.highlighted {
  background: gold;
}

.count-bars-labels {
  margin-top: 3px;
  margin-bottom: 20px;
}

.count-bars-labels .label {
  display: table-cell;
  position: relative;
}

.count-bars-labels .label span {
  position: absolute;
  left: 50%; top: 0;
  width: 40px;
  margin-left: -20px;
  text-align: center;
  background: black;
  color: white;
  padding: 2px;
  visibility: hidden;
  z-index: 2;
}

.count-bars-labels .label.show span {
  visibility: visible;
}

.count-bars-labels .label.always-show span, .count-bars-labels .label.highlighted span {
  visibility: visible;
  z-index: 1;
}

.count-bars-labels .label.highlighted span {
  color: black;
  background: gold;
}
