
.ui-autocomplete {
  background-color: white;
  list-style-type: none;
  position:relative;
  z-index: 1000;
  width: 60%;
}

.ui-autocomplete li {
  font-size: inherit;
  cursor: pointer;
  padding: 0 10px;
  margin: 0;
}

.ui-autocomplete li:hover {
	background-color: rgba(99, 212, 8, 0.40);
}

input[type=search] {
  width: 60%;
}
