body { background-color: #F0F1EC; color: #333; }
a,
button.link { color: #005870; background-color: white; padding: 2px; text-decoration: none;}

body, p, li  { font-family: 'Helvetica Neue', sans-serif; color: black;}
h1, h2, h3, h4, h5, h6 { font-family: 'Lora', serif; }
h1 { line-height: 1.25em;}
small { font-size: 0.75em; color: #666;}
code { font-family: monospace; font-size: 1.25em;}


.is-admin {
	background-color: #ffce00;
	padding: 3px;
}
button.is-admin {
	padding: 5px; 
	background-color: #ffce00; 
	border: 0; 
	font-weight: bold; 
	height: 29px; 
	width: 29px; 
	line-height: 1em;
	border-radius: 0;
}
a:link.is-admin {
	color: white;
}
a:visited.is-admin {
	color: white;
}
a:hover.is-admin {
	color: black;
}
.hilite {
	float: right;
}
.intro-box {
	height: 100px;
	font-size: 1.5em;
	line-height: 1.5em;
	width: 790px
}

/* Graphs */

.digitised { height:5px;background-color:white; margin-top:10px; }
.percent-done { background-color:black; height:5px; float:left; }

.people-list {
	padding-bottom: 40px;
	clear: both;
}
.people-list div { 	text-align:center; }
.circle {
	width: 190px;
	height: 190px;
	display: block;
	margin: 15px;
}
.bg-link {
    background-size: cover;
    background-color: rgba(145, 184, 185, 0.5);
    display:block;
    width: 190px;
    height: 190px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-indent:-9999px;
}
.gray p { font-size: smaller; color: #888; margin-top: -13px;}
.name {
	margin-top: -40px;
	padding: 3px;
	display: block;
}
.name small { background-color: #e5e3d9; padding: 4px; }
small.dates { background-color: white; padding: 4px; }

.sm-circle {
    width: 110px;
    height: 110px;
    text-align: center;
    float: left;
    margin: 20px 30px 20px 40px;
}
.sm-bg-link {
    background-size: cover;
    background-color: rgba(145, 184, 185, 0.5);
    display: block;
    width: 110px;
    height: 110px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-indent: -9999px;
}
.sm-name {
    margin-top: -30px;
    display: block;
    font-size: 0.825em;
    background-color: white;
line-height:1.25em;
padding:4px;    
}

ul.results {
  list-style-type: none;
}

.editorial {
	background: white;
	padding: 20px;
	color: #666;
}
.editorial h5 {
	color: #006170;
	margin-bottom: 10px;
}

/* Person */

.person-portrait {
	width: 130px;
	height: 130px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
background-size: cover;
background-color: rgba(145, 184, 185, 0.5);
  background-position:center 20%;
  margin-left: auto;
  margin-right: auto;
}

.person-mini-portrait {
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  vertical-align: middle;
  margin-right: 10px;

  background-size: cover;
  background-color: rgba(145, 184, 185, 0.5);
}
.identifiers { width: 100%; }
.identifiers td { font-family: monospace;}
.big p { font-size: 1.5em;}
.big .dates { font-weight:bold;}
.nogo { color: #BFBEB5; font-style:italic;}
.help-note {
  padding-left: 15px;
  font-size: 0.375em;
  letter-spacing: 0em;
}
.cover-box {
    float: left;
    margin: 10px;
    height: 220px;
    width: 170px;
    overflow: hidden;
    padding: 0px;
    border: 1px solid #BFBEB5;
}
.cover {
	padding: 8px;
	font-size: 0.825em;
	line-height:1.75em;
}

.lil-vis {
  padding-top: 24px;
}

/* Subject */

.definition { font-size: 2em; }
.breathe { margin-top: 15px; margin-bottom: 15px;}
.search-result {}
.search-result h5 { margin-bottom: 5px;}
.search-result small { color: #666;}

/* Nav */

.pagination {
    padding-top: 60px;
    clear: both;
    padding-bottom: 40px;
}
.nav {
  color: #BFBEB5;
  padding-bottom: 10px;
  padding-top: 10px;
}
.logo { padding-left: 20px; }
.logo a {
	text-decoration: none;
	border: none;
	background-color: #F0F1EC;
}
.alpha-note {
	margin-left: -18px;
	margin-top:24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.alpha-note span {
	color: #ed3441;
	font-style: italic;
	font-weight: bold;
}
.subnav {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;  
}
.subnav div {
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nerds { clear: both; margin-top: 30px;}
.nerds h5 {padding-top:5px;}
.nerds td { font-family:monospace; }
.footer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.top {
	padding-left: 10px;
}
.right { text-align:right; }
.center { text-align:center; }

a.portrait {
  background-color: transparent;
}

input[type=search] {
  width: 50em;
}


.archives {background-color: #a64895; color:white; padding:2px;}
.iconographic {background-color: #ea9617; color:white; padding:2px;}

form.inline {
  display: inline;
  margin: 0;
}

button.link {
  border: 0; border-radius: 0;
  display: inline;
  margin: 0;
  text-transform: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: normal;
  line-height: inherit;
  height: auto;
}