body { background-color: #E5E3D9; color: #403F3C; }
a { background-color: #FFFDF2; color: #403F3C; padding: 2px; text-decoration: none;}

/* Google fonts */ 
body, p, li { font-family: 'Lora', sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: 'Lato', sans-serif; }
small, code { font-family: 'Inconsolata', ; }

.circle-container {
  float: left;
  width: 25%;
  height: auto;
  text-align: center;
  margin-bottom: 80px;
}
.portrait-circle {
  width: 80%;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Latin_Poet_Ovid.jpg/103px-Latin_Poet_Ovid.jpg) no-repeat;
  background-position:center center;
  background-size:contain; 
  margin-left: auto;
  margin-right: auto;
}
.name {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    margin-top: -50px;
}
.name a { padding:6px;}

.nav {
  color: #BFBEB5;
  border-bottom: 1px dotted #7F7E79;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer {
  color: #BFBEB5;
  border-top: 1px dotted #7F7E79;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.right {
  text-align:right;
}
.center {
  text-align:center;
}
