body { background-color: #E5E3D9; color: #403F3C; }
a { background-color: #FFFDF2; color: #403F3C; padding: 2px; text-decoration: none;}

/* Google fonts */ 
body, p, li { font-family: 'Lora', sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: 'Lato', sans-serif; }
small, code { font-family: 'Inconsolata', ; }

.circle {
	width: 200px;
	height: 200px;
	text-align:center;
	float:left;
	margin: 20px;
}
.bg-link {
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Renaissance_C14_F%C3%BCllmaurer_Leonhart_Fuchs.jpg/220px-Renaissance_C14_F%C3%BCllmaurer_Leonhart_Fuchs.jpg);
    display:block;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-indent:-9999px;    
}
.name {
	margin-top: -40px;
	padding: 5px;
	display: block;
}
.name small { background-color: #e5e3d9; padding: 4px; }

/* Person */
.person-portrait {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Renaissance_C14_F%C3%BCllmaurer_Leonhart_Fuchs.jpg/220px-Renaissance_C14_F%C3%BCllmaurer_Leonhart_Fuchs.jpg) no-repeat;
  background-position:center 30%;
  margin-left: auto;
  margin-right: auto;  
}
.bio p { font-size: 1.5em;}
.bio .dates { font-weight:bold;}
.nogo { color: #BFBEB5; font-style:italic;}
.help-note {     
  padding-left: 15px;
  font-size: 0.375em;
  letter-spacing: 0em;
}
.cover-box {
  float:left; 
  margin:10px;
  width: 120px;
  height: 180px;
  overflow: hidden;
  padding: 0px;
  border: 1px solid #BFBEB5;
}
.cover {
  padding: 3px;
}

.lil-vis {
  padding-top: 24px;
}

/* Subject */
.definition { font-size: 2em; }

/* Footer */
.nav {
  color: #BFBEB5;
  border-bottom: 1px dotted #7F7E79;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.subnav {
  padding-bottom: 10px;
  border-bottom: 1px dotted #7F7E79;
  margin-bottom: 20px;  
}
.footer {
  color: #BFBEB5;
  border-top: 1px dotted #7F7E79;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.right {
  text-align:right;
}
.center {
  text-align:center;
}
