<% content_for :title, "Subjects within #{@collection.name}" %>

<h6><a href="/collections">Collections</a> &rarr; <%= link_to @collection.name, @collection %> /</h6>
<h2>Subjects</h2>

<% @subjects.in_groups_of(4) do |group| %>

  <div class="row">

    <% group.each do |subject| %>
      <div class="three columns">

        <% if subject %>
          <%= link_to collection_subject_path(@collection, "S#{subject.id}") do %>
            <div class="subject-label">
              <%= subject.label %>
              <div><%= pluralize_with_delimiter(subject['records_within_subject_and_collection_count'], 'thing') %></div>
            </div>
          <% end %>
        <% end %>
      </div>

    <% end %>
  </div>

<% end %>


