<% content_for :title, "Subjects within #{@collection.name}" %>

<h6><a href="/collections">Collections</a> &rarr; <%= link_to @collection.name, @collection %> /</h6>
<h2>Subjects</h2>	

<ul>
  <% @subjects.each do |subject| %>
    <li>
      <%= link_to subject.label, collection_subject_path(@collection, subject) %>
      (<%= pluralize_with_delimiter(subject['records_within_subject_and_collection_count'], 'thing') %>)
    </li>
  <% end %>
</ul>