<% content_for :title, "Subjects within #{@collection.name}" %>

<h6><a href="/collections">Collections</a> &rarr; <%= link_to @collection.name, @collection %> /</h6>
<h2>Subjects</h2>



<div class="row">
	<div class="three columns">
		<a href="#">
			<div class="thumb">img</div>
			<div class="subject-label">subject</div>
		</a>
	</div>
	<div class="three columns">
		<a href="#">
			<div class="thumb">img</div>
			<div class="subject-label">subject</div>
		</a>
	</div>
	<div class="three columns">
		<a href="#">
			<div class="thumb">img</div>
			<div class="subject-label">subject</div>
		</a>
	</div>
	<div class="three columns">
		<a href="#">
			<div class="thumb">img</div>
			<div class="subject-label">subject</div>
		</a>
	</div>
</div>

<!-- Need a looping row, please -->
<div class="row">

  <ul>
    <% @subjects.each do |subject| %>
  		<li><b><%= link_to subject.label, collection_subject_path(@collection, "S#{subject.id}") %></b><br />
  		<%= pluralize_with_delimiter(subject['records_within_subject_and_collection_count'], 'thing') %></li>
    <% end %>
  </ul>

</div>

