<% content_for :title, "#{@subject.label} within #{@collection.name}" %>

<h1><%= @subject.label %> within <%= link_to @collection.name, @collection %></h1>

<% @records.each do |record| %>
  <%= render record %>
<% end %>