<% content_for :title, "#{@subject.label} within #{@collection.name}" %>

<h1><%= link_to @collection.name, @collection %></h1>
<h2>Subjects / <%= @subject.label %></h2>
<% @records.each do |record| %>
  <%= render record %>
<% end %>